@import "colors.scss";
@import "elements.scss";
@import "typography.scss";

@mixin theme-colors {
  // Primary Colors
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --primary-light: #{$primary-light};

  // Accent Colors
  --accent-medium: #{$accent-medium};
  --accent-light: #{$accent-light};
  --accent-dark: #{$accent-dark};

  // Grays
  --gray-medium: #{$gray-medium};
  --black: #{$black};
  --gray-darkest: #{$gray-darkest};
  --gray-dark: #{$gray-dark};
  --gray-light: #{$gray-light};
  --gray-lightest: #{$gray-lightest};
  --gray-off-white: #{$gray-off-white};
  --white: #{$white};

  // Overlay
  --overlay: #{$overlay};
}

@mixin theme-elements {
  --border-radius: #{$border-radius};

  --space-xxxs: #{$space-xxxs};
  --space-xxs: #{$space-xxs};
  --space-xs: #{$space-xs};
  --space-s: #{$space-s};
  --space-m: #{$space-m};
  --space-l: #{$space-l};
  --space-xl: #{$space-xl};
  --space-xxl: #{$space-xxl};
}

@mixin theme-typography {
  // Accent
  --font-family-accent: #{$font-family-accent};
  --font-style-accent: #{$font-style-accent};
  --font-weight-accent: #{$font-weight-accent};
  --letter-spacing-accent: #{$letter-spacing-accent};

  --font-size-accent-l: #{$font-size-accent-l};
  --line-height-accent-l: #{$line-height-accent-l};
  --font-size-accent-m: #{$font-size-accent-m};
  --line-height-accent-m: #{$line-height-accent-m};
  --font-size-accent-s: #{$font-size-accent-s};
  --line-height-accent-s: #{$line-height-accent-s};

  // Header
  --font-family-header: #{$font-family-header};
  --font-style-header: #{$font-style-header};
  --font-weight-header: #{$font-weight-header};
  --letter-spacing-header: #{$letter-spacing-header};

  --font-size-header-xl: #{$font-size-header-xl};
  --line-height-header-xl: #{$line-height-header-xl};
  --font-size-header-l: #{$font-size-header-l};
  --line-height-header-l: #{$line-height-header-l};
  --font-size-header-m: #{$font-size-header-m};
  --line-height-header-m: #{$line-height-header-m};
  --font-size-header-s: #{$font-size-header-s};
  --line-height-header-s: #{$line-height-header-s};
  --font-size-header-xs: #{$font-size-header-xs};
  --line-height-header-xs: #{$line-height-header-xs};

  // Body
  --font-family-body: #{$font-family-body};
  --font-style-body: #{$font-style-body};
  --font-weight-body: #{$font-weight-body};
  --letter-spacing-body: #{$letter-spacing-body};

  --font-size-body-xl: #{$font-size-body-xl};
  --line-height-body-xl: #{$line-height-body-xl};
  --font-size-body-l: #{$font-size-body-l};
  --line-height-body-l: #{$line-height-body-l};
  --font-size-body-m: #{$font-size-body-m};
  --line-height-body-m: #{$line-height-body-m};
  --font-size-body-s: #{$font-size-body-s};
  --line-height-body-s: #{$line-height-body-s};
  --font-size-body-xs: #{$font-size-body-xs};
  --line-height-body-xs: #{$line-height-body-xs};
}
