@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

// font families
$font-family-primary: "Open Sans", "Helvetica Neue", Arial, Helvetica,
  sans-serif !default;
$font-family-code: "Andale Mono", Menlo, Monaco, Consolas, "Courier New",
  monospace !default;

// Font Weights
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;

// Typography Sizes
// Headers
@mixin font-header-common {
  font-weight: $font-weight-semibold;
  letter-spacing: 0.3px;
  font-family: $font-family-primary;
}

@mixin font-header-xxl {
  @include font-header-common;

  font-size: 26px;
  line-height: 34px;
}

@mixin font-header-xl {
  @include font-header-common;

  font-size: 22px;
  line-height: 30px;
}

@mixin font-header-l {
  @include font-header-common;

  font-size: 18px;
  line-height: 24px;
}

@mixin font-header-m {
  @include font-header-common;

  font-size: 16px;
  line-height: 22px;
}

@mixin font-header-s {
  @include font-header-common;

  font-size: 14px;
  line-height: 20px;
}

@mixin font-header-xs {
  @include font-header-common;

  font-size: 13px;
  line-height: 18px;
}

@mixin font-header-xxs {
  @include font-header-common;

  font-size: 12px;
  line-height: 18px;
}

@mixin font-header-xxxs {
  @include font-header-common;

  font-size: 11px;
  line-height: 16px;
}

@mixin font-body-common {
  font-family: $font-family-primary;
  letter-spacing: 0.3px;
  font-weight: $font-weight-regular;
}

// Body
@mixin font-body-l {
  @include font-body-common;

  font-size: 18px;
  line-height: 28px;
}

@mixin font-body-m {
  @include font-body-common;

  font-size: 16px;
  line-height: 26px;
}

@mixin font-body-s {
  @include font-body-common;

  font-size: 14px;
  line-height: 24px;
}

@mixin font-body-xs {
  @include font-body-common;

  font-size: 13px;
  line-height: 20px;
}

@mixin font-body-xxs {
  @include font-body-common;

  font-size: 12px;
  line-height: 18px;
}

@mixin font-body-xxxs {
  @include font-body-common;

  font-size: 11px;
  line-height: 16px;
}

// Code (Mixin)
@mixin font-code {
  font-family: $font-family-monospace;
  font-size: 0.8125em;
  line-height: 1em;
}

// All-Caps
@mixin font-caps-common {
  font-family: $font-family-primary;
  letter-spacing: 1px;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}

@mixin font-caps-xxs {
  @include font-caps-common;

  font-size: 12px;
  line-height: 18px;
}

@mixin font-caps-xxxs {
  @include font-caps-common;

  font-size: 11px;
  line-height: 16px;
}

@mixin font-caps-xxxxs {
  @include font-caps-common;

  font-size: 10px;
  line-height: 164px;
}
