# These are the requirements to develop for this application.  Note that
# the AWS EB CLI tools are not included because of a conflict between the
# requirements of awsebcli and black.

alembic
black
flake8
ipython
isort
mypy
pytest
pytest-xdist
sqlalchemy-stubs
