@import "src/common/styles/colors";
@import "src/common/styles/typography";
@import "src/common/styles/spacing";
@import "src/common/styles/corners";

.samplesRoot {
  align-items: stretch;
  flex-direction: column;

  .searchBar {
    margin-bottom: $space-l;
    width: 20em;

    > div {
      width: 100%;
    }

    input {
      border-radius: $border-radius-l !important;

      &:hover {
        border-color: $gray-medium;
      }

      &:focus {
        border-color: $primary;
      }
    }
  }

  .samplesTable {
    margin-top: $space-m;
  }
}
