[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Authlib = "*"
boto3 = "*"
Flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
SQLAlchemy = "*"
flask-cors = "*"
sqlalchemy-enum-tables = {editable = true, path = "./third-party/sqlalchemy-enum-tables"}
SQLAlchemy-Utils = "0.36.8"

[dev-packages]
alembic = "*"
# version for black must be hardcoded, as pipenv does not like beta packages (by default).  as black does not have ANY
# non-beta packages, pipenv panics and gives up.
# TODO: (ttung) add a github workflow to check and fail if black releases a new version.
black = "== 20.8b1"
flake8 = "*"
ipython = "*"
isort = "*"
pytest-mock = "*"
moto = {version = "*", extras = ["s3"]}
mypy = "*"
pytest = "*"
pytest-xdist = "*"
sqlalchemy-stubs = "*"
tqdm = "*"
typing-extensions = "*"
auth0-python = "*"
aspen = {editable = true, path = "."}

[requires]
python_version = "3.9"
