@import "src/common/styles/colors";
@import "src/common/styles/typography";
@import "src/common/styles/spacing";
@import "src/common/styles/corners";

.container {
  display: flex;
  flex-direction: column;
}

// NOTE see associated `headerWithCheckbox` just below
.header {
  display: flex;
  padding: 0 $space-l;
  border-bottom: 3px solid $gray-lightest !important;

  .headerMetaCell {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: baseline;

    svg {
      fill: $black;
      width: $icon-xs;
    }
  }

  .headerCell {
    padding-bottom: $space-m;
  }

  .headerCellContent {
    @include font-header-s;

    color: $gray-dark;
    margin-right: $space-xxs;

    &:hover {
      color: $black;
      cursor: default;
    }
  }
}

// Checkboxes in a header need to match alignment of row checkboxes below, so
// we override padding. Headers with checkboxes should use above `.header` class
// AND this class together. Because it comes second, it overrides, but everything
// else continues to work as usual.
.headerWithCheckbox {
  padding: 0;
}

.cell {
  @include font-header-xs;

  display: flex;
  align-items: center;
  margin: $space-xs 0 $space-xs 0;

  .icon {
    margin: 0 $space-l;
    fill: $gray-light;
  }

  a {
    @include font-caps-xxs;
    color: $primary;
  }
}

.tableContent {
  height: 77vh;
  width: 100%;

  > div {
    display: inline-block;
  }
}
