/* 
 * Styles here replace semantic-ui global styles.
 * We should add new styles elsewhere.
*/
body {
  margin: 0;
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
