@import "./colors";

@keyframes loadingBackgroundAnimation {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 10% 0;
  }
}

@mixin loadingAnimation {
  animation-name: loadingBackgroundAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  background: linear-gradient(
    to right,
    $gray-off-white 10%,
    $gray-lightest 18%,
    $gray-lightest 22%,
    $gray-off-white 30%
  );
  background-position: 0% 0;
  background-size: 200%;
}
