@import "common/styles/colors";
@import "common/styles/typography";
@import "common/styles/spacing";
@import "common/styles/corners";

.header {
    .headerCell {
        @include font-header-s;
        color: $gray-dark;
    }
}

.cell {
    @include font-header-s;
    align-items: center;
    margin: $space-xs 0 $space-xs 0;

    .icon {
        margin: 0 $space-l 0 $space-l;
        fill: $gray-light;
    }
}
