@import "src/common/styles/colors";
@import "src/common/styles/spacing";
@import "src/common/styles/typography";

@mixin item-common {
  height: 100%;
  font-family: $font-family-primary;
  color: $white;
  align-items: center;
  display: flex;

  a {
    color: $white;
  }
}

.bar {
  background-color: $black;
  height: 50px;
  display: flex;
  align-items: center;

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: auto;
    margin-left: $space-xl;
    height: 25px;
  }

  .center {
    display: flex;
    justify-content: center;
    flex: auto;
  }

  .right {
    @include font-body-xs;

    display: flex;
    justify-content: flex-end;
    flex: auto;
    margin-right: $space-l;
  }

  .item {
    @include item-common;
  }

  .logo {
    @include item-common;
    @include font-header-l;
    margin-right: $space-l;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.13em;
    fill: white;
  }

  .org {
    @include item-common;
    @include font-header-l;
  }

  .separator {
    border-left: 1px solid $gray-lightest;
    margin-right: $space-l;
    height: 100%;
  }

  .link {
    @include font-header-m;

    &:hover {
      background-color: $gray-darkest;
    }

    &:active {
      background-color: $gray-dark;
    }
  }

  .dropdownMenu {
    margin: $space-s;

    .dropdownLink {
      @include font-body-m;
      color: $black;
      padding: $space-s $space-xxl $space-s $space-xl;

      &:hover {
        background-color: $gray-off-white;
      }

      &:active {
        background-color: $white;
      }
    }
  }
}
