<html>
  <body>
    <div>On November 15, 2024, Theiagen Global Health Initiative will manage CZ GEN EPI, and the platform will be called TheiaGenEpi. Click <a href="https://help.czgenepi.org/hc/en-us/articles/20083077583764-FAQs-CZ-GEN-EPI-Transfer-to-Theiagen-Global-Health-Initiative-TGHI">here</a> for more information.</div>
    <hr />
    <div>Hi {% if user.given_name %}{{ user.given_name }}{% else %}there{% endif %},</div>
    <br />
    <div>Congratulations! You have been added to {% if organization.display_name %}the {{ organization.display_name }} Group on {% endif %}<a href="http://czgenepi.org">CZ GEN EPI!</a> 🥳</div>
    <br />
    <div>My name is Karyna, and I’m the product application scientist for the Chan Zuckerberg Initiative’s GEN EPI platform. CZ GEN EPI is an open-source, free, no-code genomic epidemiology analysis platform for public health. Our goal is to enable public health departments to identify the most effective interventions and policies to stop the spread of infectious diseases using genomic epidemiology. The secure, cloud-based platform streamlines the analysis of pathogen genomic data and generates phylogenetic trees with a single click—no need to install software or write code.</div>
    <br />
    <div>If needed, you can access our CZ GEN EPI user guides and other genomic epidemiology resources by visiting our <a href="https://help.czgenepi.org/hc/en-us">Help Center</a>.</div>
    <br />
    <div>If you have any questions, please email us at <a href="mailto:hello@czgenepi.org">hello@czgenepi.org</a>. Welcome to CZ GEN EPI!</div>
    <br />
    <div>Best,</div>
    <div>Karyna, on behalf of the CZ GEN EPI team</div>
  </body>
</html>
