<html>
  <body>
    <div>Hi {% if user.given_name %}{{ user.given_name }}{% else %}there{% endif %},</div>
    <br />
    <div>Congratulations! You have been added to {% if organization.name %}the {{ organization.name }} Group on {% endif %}CZ GEN EPI!</div>
    <br />
    <div>My name is Mikala, and I’m the product application scientist for the Chan Zuckerberg Initiative’s GEN EPI platform. CZ GEN EPI is an open-source, free, no-code genomic epidemiology analysis platform for public health. Our goal is to enable public health departments to identify the most effective interventions and policies to stop the spread of infectious diseases using genomic epidemiology. The secure, cloud-based platform streamlines the analysis of pathogen genomic data and generates phylogenetic trees with a single click—no need to install software or write code.</div>
    <br />
    <div>To help you get started, this email contains the following onboarding materials:</div>
    <div>-Genomic Epidemiology Seminar Series: https://czgenepi.org/resources</div>
    <div>-Genomic Epidemiology Handbook: https://alliblk.github.io/genepi-book/intro.html</div>
    <div>-Types of Trees and how to build them within CZ GEN EPI: https://docs.google.com/document/d/1_iQgwl3hn_pjlZLX-n0alUbbhgSPZvpW_0620Hk_kB4/edit</div>
    <br />
    <div>Once you have access to the platform, I’d like to schedule a 1:1 session over Zoom to learn more about your capacity, goals, and priorities for genomic epidemiology and demo CZ GEN EPI. Please sign up for a session with me here (https://calendly.com/mcaton-1/cz-gen-epi-initial-1-1-with-new-users).</div>
    <br />
    <div>If you have any questions, please email us at hello@czgenepi.org. Welcome to CZ GEN EPI!</div>
    <br />
    <div>Best,</div>
    <div>Mikala, on behalf of the CZ GEN EPI team</div>
  </body>
</html>
