@import "src/common/styles/colors";
@import "src/common/styles/typography";
@import "src/common/styles/spacing";
@import "src/common/styles/corners";

.samplesRoot {
  align-items: stretch;
  flex-direction: column;

  .searchBar {
    margin-bottom: $space-l;
    width: 20em;

    input {
      border-radius: $border-radius-l !important;
    }
  }

  .samplesTable {
    margin-top: $space-m;
  }
}
