@import "common/styles/colors";
@import "common/styles/typography";
@import "common/styles/spacing";
@import "common/styles/corners";

.samplesRoot {
    align-items: stretch;
    flex-direction: column;

    .searchBar {
        padding: $space-m;
        margin: 0 0 $space-m 0;
        width: 20em;
        border: thin solid $gray-light;
        border-radius: $border-radius-l;

        &:hover {
            border-color: $gray-medium;
        }
    }

    .samplesTable {
        margin: $space-m 0 0 0;
    }
}
