// In the future, this imported scss could be part of a library.
@import "common/styles/theme.scss";

:root {
    @include theme-colors;
    @include theme-elements;
    @include theme-typography;
}

// Override some browser CSS defaults with better defaults.
body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
