// Override some browser CSS defaults with better defaults.
body {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex: 1 1 auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
