@import "common/styles/colors";
@import "common/styles/spacing";

.navbar {
    background-color: $black;
    min-height: $space-xxl;
}

.titleLink {
    color: $white;

    &:hover {
        text-decoration: none;
        color: $white;
    }
}
