@import "common/styles/mixins.scss";

.navbar {
    background-color: var(--accent-light);
    min-height: 50px;
}

.titleLink {
    color: var(--white);

    &:hover {
        text-decoration: none;
        color: var(--white);
    }
}
