@import "src/common/styles/spacing";

.app {
  height: 100vh;
  flex-flow: column wrap;
  justify-content: center;
  :not(i) {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Helvetica, Arial, sans-serif !important;
  }
}
